@import "variables.scss";

header:deep(.v-toolbar__content) {

  .logo {
    font-family: $font-logo;
    font-size: $font-size-logo;
    font-weight: normal;
  }

  .container {
    max-width: 50%;

    .nav-link {
      font-family: $font-subtitle;
      font-size: $font-size-subtitle;
      .link {
        text-decoration: unset;
        color: inherit;
      }
    }
  }
}

.active {
  border-bottom: solid $color-tertiary 3px;
}
