header {
  opacity: 0;
  transition: $header-transition;

  &:deep(.v-toolbar__content) {

    .logo {
      font-family: $font-logo;
      font-size: $font-size-logo;
      font-weight: normal;
    }

    .container {
      .nav-link {
        font-family: $font-subtitle;
        font-size: $font-size-subtitle;

        .link {
          text-decoration: unset;
          color: inherit;
          border-bottom: $border-nav-link-hidden;
          transition: $nav-link-transition;

          &:hover:not(.nav-link-active) {
            color: $color-nav-link-hover;
            border-bottom: $border-nav-link-hover;
          }
        }
      }
    }
  }
}

.nav-link-active {
  border-bottom: $border-nav-link-active;
}