.cta-container {
    
    .cta {
        color: whitesmoke;
        border-radius: 50px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        &:focus {
            outline: unset;
        }
    }
}