.home-container {
    color: white;

    .bg-1-block {
        @extend %wide-screen;   

        .model-container {
            @extend %offset-top;

            &:deep(canvas) {
                position: relative;
                left: $drone-start-position;
                transition: $drone-transition;
            }
        }

        .content-container {
            @extend %offset-top;

            .bg-1-cta {
                opacity: 0;
                transition: $cta-transition;
            }

            .extra-title {
                position: relative;
                left: $extra-title-bg1-start-position;
                text-shadow: $extra-title-shadow;
                transition: $extra-title-bg1-transition;
            }
        }
    }

    .bg-2-block {
        @extend %wide-screen;

        .content-container {
            opacity: $container-opacity;
            transition: $container-transition;

            .extra-title {
                margin-top: 150px;
                text-shadow: $extra-title-shadow;
            }

            .img-bg-2 {
                border-radius: 15px;
                box-shadow: 10px 10px 30px 5px black;
            }
        }
    }

    .bg-3-block {
        @extend %wide-screen;

        .content-container {
            position: relative;
            border: solid transparent 3px; // need this border to remove white space from margin-top drone container 
            opacity: $container-opacity;
            transition: $container-transition;


            .drone-container {

                .drone-img {
                    position: relative;
                    animation: $drone-img-bg-3-animation;
                }

                .light-img {
                    position: relative;
                    transform-origin: $light-img-bg-3-transform-origin;
                    animation: $light-img-bg-3-animation;
                }
            }

            .extra-title {
                text-shadow: $extra-title-shadow;
            }
        }
    }
}

%wide-screen {
    width: 100%;
    height: 1000px;
}

%offset-top {
    position: relative;
    top: $offsetTop;
}


