@keyframes glowing {
    0% {
        box-shadow: $glow-shadow-off;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        box-shadow: $glow-shadow-on;
        opacity: 1;
    }
}

@keyframes light-search {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

@keyframes grow-shrink {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.1, 1.1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

