@keyframes glowing {
    0% {
        box-shadow: $glow-shadow-off;
        opacity: 0;    
    }

    50% {
        opacity: 1;
    }

    100% {
        box-shadow: $glow-shadow-on;
        opacity: 1;
    }
}