@mixin animation-glow($animationClass, $duration, $delay, $top, $left, $invert) {
    @keyframes glowUpDown-#{$animationClass} {
        @if($invert) {
            0% {
                top: calc(#{$top} + #{$glow-animation-distance})
            }

            100% {
                top: #{$top};
            }
        }

        @else {
            0% {
                top: calc(#{$top} - #{$glow-animation-distance})
            }

            100% {
                top: #{$top};
            }
        }
    }

    @keyframes glowLeftRight-#{$animationClass} {
        @if($invert) {
            0% {
                left: calc(#{$left} + #{$glow-animation-distance})
            }

            100% {
                left: #{$left};
            }
        }

        @else {
            0% {
                left: calc(#{$left} - #{$glow-animation-distance})
            }

            100% {
                left: #{$left};
            }
        }
    }

    animation: glowing #{$duration} infinite alternate ease-in-out #{$delay},
    glowUpDown-#{$animationClass} $glow-animation-up-down-duration infinite ease alternate #{$delay},
    glowLeftRight-#{$animationClass} $glow-animation-left-right-duration infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate #{$delay};
}
