@charset "UTF-8";

@import "fonts";
@import "variables.scss";
@import "keyframes";
// @import "mixins";

html {
    cursor: none !important;

    #wrapper {
        a,
        button,
        [type=button] {
            cursor: none;
        }

        h1,
        h2 {
            font-family: $font-title;
        }
    }
}

// a:hover .cursor, button:hover .cursor, [type=button]:hover .cursor {
//     opacity: 0.5!important;
// }

// #wrapper {
//     background-image: url("./assets/bg.webp");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     background-attachment: fixed;
// }npm