@charset "UTF-8";

@import "fonts";
@import "variables.scss";
@import "keyframes";

html {
    cursor: none !important;

    #wrapper {
        background-color: $color-dark-blue;
        overflow: hidden;
        a,
        button,
        [type=button] {
            cursor: none;
        }

        h1,
        h2 {
            font-family: $font-title;
        }
    }
}
* {
    box-sizing: border-box;

}