/*
* GROUP BASES
*/

// font family
$font-title: 'Playfair Display', serif !important;
$font-subtitle: 'Playfair Display', serif !important;
$font-body: 'Raleway', sans-serif !important;
$font-logo: 'Water Brush', 'cursive' !important;

// font sizes
$font-size-title: 40px;
$font-size-subtitle: 24px;
$font-size-body: 20px;
$font-size-logo: 40px;

// colors
$color-primary: #FFFFFF;
$color-secondary: #000000;
$color-tertiary: #ECD06F;
$color-dark-blue: #03091b;
$color-nav-link-hover: #ff0000;

// border
$border-size: 3px;
$border-round: 50%;

// offset
$offsetTop: 90px;

/*
* GROUP ELEMENT
*/

// cursor
$cursor-size-base: 50px;
$cursor-width: $cursor-size-base;
$cursor-height: $cursor-size-base;
$cursor-transition-time-base: 0.05s;
$cursor-animation: rotate 2s infinite linear;
$cursor-transition: top $cursor-transition-time-base linear,
    left $cursor-transition-time-base linear,
    opacity 0.5s linear;
$cursor-shadow: inset 0 0 8px #fff,
    inset 3px 0 13px #f0f,
    inset -3px 0 17px #0ff,
    inset 3px 0 50px #f0f,
    inset -3px 0 54px #0ff,
    0 0 16px #fff,
    -1px 0 26px #f0f,
    1px 0 26px #0ff;

// glow
$glow-size: 5px;
$glow-color: #fff;
$glow-animation-distance: 200px;
$glow-animation-up-down-duration: 10s;
$glow-animation-left-right-duration: 8s;
$glow-shadow-off: 0 0 0px 0px #fff, 
0 0 0px 0px #f0f, 
0 0 0px 0px #0ff;
$glow-shadow-on: 0 0 21px 11px #fff, 
0 0 31px 13px #f0f, 
0 0 35px 15px #0ff;

// header
$header-transition: opacity 1s linear;

// nav link
$border-nav-link-active: solid $color-tertiary $border-size !important;
$border-nav-link-hover: solid $color-primary $border-size;
$border-nav-link-hidden: solid transparent $border-size;
$nav-link-transition: color 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    border-bottom 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);

// drone bg 1
$drone-start-position: -600px;
$drone-transition: left 1.5s linear;

// containers
$container-opacity: 0;
$container-transition: opacity 2s ease-in;

// drone img bg 3
$drone-img-bg-3-animation: grow-shrink 3s infinite alternate linear;

// light img bg 3
$light-img-bg-3-transform-origin: 68px 0px 0px;
$light-img-bg-3-animation: light-search 7s infinite alternate linear;

// extra titles 
$extra-title-shadow: 3px 1px 2px mediumblue;
$extra-title-bg1-start-position: 2000px;
$extra-title-bg3-padding-top: 775px;
$extra-title-bg1-transition: left 1.5s linear;


$btn-text-transform: unset;