@import "fonts";

// font family
$font-title: 'Playfair Display', serif !important;
$font-subtitle: 'Playfair Display', serif !important;
$font-body: 'Raleway', sans-serif !important;
$font-logo: 'Water Brush', 'cursive' !important;

// font sizes
$font-size-title: 40px;
$font-size-subtitle: 24px;
$font-size-body: 20px;
$font-size-logo: 40px;

// colors
$color-primary: #FFFFFF;
$color-secondary: #000000;
$color-tertiary: #ECD06F;
$color-dark-blue: #03091b;
























$color-appbar-icon: white;
$color-appbar-text: white;
$color-btn-scroll-top: #00ACC1;

// sizes
$size-appbar-logo: 2.5rem;
$size-appbar-icon: 15px;
$size-logo-title-home: 55px;

// widths
$width-access-dialog: 500px;

// heights
$height-editor-content: 250px;

// margins
$textarea-box-enclosed-single-outlined-margin-top: 13px;

// transformations
$btn-text-transform: unset !default;
